package schema

import (
    "entgo.io/ent"
    "entgo.io/ent/schema/field"
    "entgo.io/ent/schema/index"
    "service-api/internal/modules/timeutil"
)

// {{ . }} holds the schema definition for the {{ . }} entity.
type {{ . }} struct {
    ent.Schema
}

// Mixins of the {{ . }}.
func ({{ . }}) Mixins() []ent.Mixin {
    return []ent.Mixin{
    }
}

// Fields of the {{ . }}.
func ({{ . }}) Fields() []ent.Field {
    return []ent.Field{
        // Fields go here.
        field.Int64("create_time").GoType(timeutil.TimeStamp(0)).Default(timeutil.TimeStampNow().Int()).Immutable(),
        field.Int64("update_time").GoType(timeutil.TimeStamp(0)).Default(timeutil.TimeStampNow().Int()).UpdateDefault(timeutil.TimeStampNow()),
    }
}

func ({{ . }}) Indexes() []ent.Index {
	return []ent.Index{
	}
}